@model Domain.Project
<body>
<a class="previousButton" onclick="previousPage()">&laquo; Previous</a>
<div class="container">

    <h2 class="text-center"> @Model.Name</h2>
    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
    {
        @Html.ActionLink("Create Ideation", "CreateIdeationPage", "Project", new {projectId = @Model.ProjectId})
    }
    <table class="table">
        <tr>
            <th>
                Centrale vraag
            </th>
        </tr>
        @foreach (var item in Model.Ideations)
        {
            <tr>
                <td>
                    @if (item.Questions.Count > 0)
                    {
                        @item.Questions.ToList()[0].Question
                    }
                </td>
                <td>
                    @Html.ActionLink("Create Idea", "CreateIdeaPage", "Idea"
                        , new {ideationId = item.IdeationId})
                </td>

                <td>
                    @Html.ActionLink("Show ideas", "Ideation", "Idea"
                        , new {ideationId = item.IdeationId})
                </td>
                @if (item.Closed)
                {
                    <td>
                        @Html.ActionLink("Open", "OpenIdeation", "Idea"
                            , new {ideationId = item.IdeationId})
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Close", "CloseIdeation", "Idea"
                            , new {ideationId = item.IdeationId})
                    </td>
                }
            </tr>
        }
    </table>

</div>
</body>