@using Domain
@model UI.MVC.Models.ProjectAndQuestions



<h2> @Model.project.name</h2>

<table class="table">
    <tr>
        <th>
            <p>Ideation Id </p>
        </th>

        <th>
            <p>Question</p>
        </th>

    </tr>
    @foreach (var item in Model.ideationQuestions)
    {
        
        <tr>
            <td>
                @Html.DisplayFor( modelItem => item.ideation.ideationId)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.question)
            </td>
            <td>
                @Html.ActionLink("Create Idea", "CreateIdeaPage", "Idea"
                    , new { ideationId=item.ideation.ideationId })
            </td>
            
            <td>
                @Html.ActionLink("Ideas", "Ideas", "Project"
                    , new { id=item.ideation.ideationId })
            </td>

        </tr>
    }
</table>