@model IEnumerable<Domain.Project>


<body id="projectspage">
<div class="container">
    <h1 class="text-center py-2">Projects</h1>
    @Html.ActionLink("Create a new project", "CreateProjectPage", "Project")
    <table class="table">
        <tr>
            <th>
                <p>Name</p>
            </th>
            <th>
                <p>Description</p>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Ideations", "Ideations", "Project"
                        , new {id = item.ProjectId})
                </td>
                <td>
                    @Html.ActionLink("Questionnaires", "Questionnaires", "Questionnaire"
                        , new {projectId = item.ProjectId})
                </td>
                <td>
                    @Html.ActionLink("Details", "ProjectDetailPage", "Project"
                        , new {projectId = item.ProjectId})
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditProjectPage", "Project"
                        , new {projectId = item.ProjectId})
                </td>
                @if (item.Closed)
                {
                    <td>
                        @Html.ActionLink("Open", "OpenProject", "Project"
                            , new {projectId = item.ProjectId})
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Close", "CloseProject", "Project"
                            , new {projectId = item.ProjectId})
                    </td>
                }
            </tr>
        }
    </table>
</div>
</body>