@model IEnumerable<Domain.Project>


<body id="projectspage">
<a class="previousButton" onclick="previousPage()">&laquo; Previous</a>
<div class="container">

     <div class="row center-block">
            
                <div class="dark-overlay">
                    <div class="container">
    
                        <div class="col-lg-9">
                            <div class="card bg-light card-form">
                                <div class="text-center">
                                    <h1 class="display-4">Projects</h1>
                                    <h4>Here is a list of all the Projects.</h4>
                                    
                                </div>
                                <div class="card-body">
                                
    
                                    <table class="table">
                                        <tr>
                                            <th>
                                                <p>Name</p>
                                            </th>
                                            <th>
                                                <p>Description</p>
                                            </th>
                                            <th>
                                                <p>Ideations</p>
                                            </th>
                                            <th>
                                                <p>Questionnaires</p>
                                            </th>
                                            <th>
                                                <p>Details</p>
                                            </th>
                                            <th>
                                                <p>Edit</p>
                                            </th>
                                            <th>
                                                <p>Close</p>
                                            </th>
                                            
                                                                                        
                                            
                                            
                                            
                                            
                                        </tr>
                                        
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Ideations", "Ideations", "Project"
                                                        , new {id = item.ProjectId})
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Questionnaires", "Questionnaires", "Questionnaire"
                                                        , new {projectId = item.ProjectId})
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Details", "ProjectDetailPage", "Project"
                                                        , new {projectId = item.ProjectId})
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Edit", "EditProjectPage", "Project"
                                                        , new {projectId = item.ProjectId})
                                                </td>
                                                @if (item.Closed)
                                                {
                                                    <td>
                                                        @Html.ActionLink("Open", "OpenProject", "Project"
                                                            , new {projectId = item.ProjectId})
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        @Html.ActionLink("Close", "CloseProject", "Project"
                                                            , new {projectId = item.ProjectId})
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                         <div class="col-lg-3" id="bodyadmin">
                                                    <div class="card text-center bg-success text-white mb-3">
                                                                            <div class="card-body">
                                                                                <h3>Create a Project</h3>
                                                                                <h4 class="display-4">
                                                                                    <i class="fas fa-pencil-alt"></i> 
                                                                                </h4>
                                                                                <div class="btn-success center-block text-light">
                                                                                @Html.ActionLink("Add", "CreateProjectPage", "Project")
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                    </div>
                        
                    </div>
                                                        </div>
                                                        </div>
                                                
</div>




























</body>