@model IEnumerable<D.UI.MVC.Models.Projects.ProjectVM>
@{
    ViewData["Title"] = "Projects";
}


<body id="projectsgeneral">


<h2 class="text-center"><b>Our projects</b></h2>
            <div class="container mt-3">  
            <!-- tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#recent"><b>Recent</b></a>
                    
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#closed"><b>Closed</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ongoing"><b>Ongoing</b></a>
                </li>

            </ul>
            </div>
            <!-- Tab panes -->
            <div class="p-5">
                <div class="tab-content">
                            <div id="recent" class="container tab-pane active">
                                            <div class="row">
                                               <div id="" class="row">
                                                       @foreach (var project in @Model)
                                                       {
                                                           if (project.Closed == false)
                                                           {
                                                                <div class="column text-center text-black openProjects" onclick="location.href = '@Url.Action("ProjectDetailPage", "Project"
                                                                                                                                              , new {projectId = project.ProjectId})'">
                                                            <div id="projectpaddingfix" class="card">
                                                                <div class="textWithBlurredBg">
                                                                    <img src="@project.Base64Image" width="365" height="200"/>
                       
                                                                    <div class="text-center">
                                                                        <h3 class="text-light">@project.Name</h3>
                                                                        <h4 class="text-light">@project.Description</h4>
                                                                    </div>
                        
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: @project.Progress%"></div>
                                                                </div>


                                                                <div>
                                                                    <p class="text-dark">
                                                                        <i class="far fa-lightbulb"></i> @project.IdeaAmount
                                                                        <i class="far fa-heart"></i> @project.AmountOfLikes
                                                                        <i class="far fa-comments"></i> @project.AmountOfComments
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                           }
                                                       }
                                                   </div>
                                                
                                            </div>
                                        </div>
                    
                    
        
                    <div id="ongoing" class="container tab-pane fade">
        
                        <div class="row mb-4">
                            
                          <div id="projectelementpadding" class="row center-block">
                              @foreach (var project in @Model)
                              {
                                  if (project.Progress > 0 && project.Progress < 100)
                                  {
                                      <div class="column text-center text-black openProjects" onclick="location.href = '@Url.Action("ProjectDetailPage", "Project"
                                                                                                                            , new {projectId = project.ProjectId})'">
                                          <div id="projectpaddingfix" class="card">
                                              <div class="textWithBlurredBg">
                                                  <img src="@project.Base64Image" width="365" height="200"/>
                       
                                                  <div class="text-center">
                                                      <h3 class="text-light">@project.Name</h3>
                                                      <h4 class="text-light">@project.Description</h4>
                                                  </div>
                        
                                              </div>
                                              <div class="progress">
                                                  <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: @project.Progress%"></div>
                                              </div>


                                              <div>
                                                  <p class="text-dark">
                                                      <i class="far fa-lightbulb"></i> @project.IdeaAmount
                                                      <i class="far fa-heart"></i> @project.AmountOfLikes
                                                      <i class="far fa-comments"></i> @project.AmountOfComments
                                                  </p>
                                              </div>
                                          </div>
                                      </div>
                                      
                                  }
                              }
                          </div>  



                        </div>
                    </div>
        
                    
                    
                    <div id="closed" class="container tab-pane fade">
                        <div class="row mb-4">
                            <div id="projecttitlepadding" class="row">
                                @foreach (var project in @Model)
                                    {
                                        if (project.Closed == true)
                                        {
                                            
                
                                                        <div class="column text-center text-black openProjects" onclick="location.href = '@Url.Action("ProjectDetailPage", "Project"
                                                                                                                                              , new {projectId = project.ProjectId})'">
                                                            <div id="projectpaddingfix" class="card">
                                                                <div class="textWithBlurredBg">
                                                                    <img src="@project.Base64Image" width="365" height="200"/>
                       
                                                                    <div class="text-center">
                                                                        <h3 class="text-light">@project.Name</h3>
                                                                        <h4 class="text-light">@project.Description</h4>
                                                                    </div>
                        
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: @project.Progress%"></div>
                                                                </div>


                                                                <div>
                                                                    <p class="text-dark">
                                                                        <i class="far fa-lightbulb"></i> @project.IdeaAmount
                                                                        <i class="far fa-heart"></i> @project.AmountOfLikes
                                                                        <i class="far fa-comments"></i> @project.AmountOfComments
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                        }
                                    
                            </div>
                            </div>
                    </div>
        
            
                </div>
            </div>

</body>