@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row center-block">
    <div class="dark-overlay">
        <div class="container">
            <div class="d-flex justify-content-center" >
                <div class="card bg-light text-center card-form">
                    <div class="card-body" id="card">
                        <h3><b>Sign in</b></h3>
                        <form id="account" method="post">
                            <h4>Use a local account to log in.</h4>
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group text-dark">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" placeholder="Email*" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group text-dark">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" placeholder="Password*" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-dark">Log in</button>
                            </div>
                            <div class="form-group">
                                <p>
                                    <a class="text-dark" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                </p>
                                <p>
                                    <a class="text-dark" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                </p>
                            </div>
                        </form>
                        <div>
                            <section>
                                @{
                                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                    {
                                    }
                                    else
                                    {
                                        <h4>Use another service to log in.</h4>
                                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                            <div>
                                                <p>
                                                    @foreach (var provider in Model.ExternalLogins)
                                                    {
                                                        <button class="btn btn-dark" type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                    }
                                                </p>
                                            </div>
                                        </form>
                                    }
                                }
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
