@using DAL.EF
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model Task<IList<DAL.EF.ApplicationUser>>

@{
    ViewData["Title"] = "Manage moderators";
}
<body>
<a class="previousButton" onclick="previousPage()">&laquo; Previous</a>
<div class="container">
    <div class="row center-block">
        <div class="dark-overlay">
            <div class="container">

                <div class="col-lg-9">
                    <div class="card bg-light card-form">
                        <div class="text-center">
                            <h1 class="display-4">Manage moderators</h1>
                            <h4>Here is a list of all the Moderators</h4>
                        </div>
                        <div class="card-body">


                            <table class="table">
                                <tr>
                                    <th>
                                        <p>Firstname</p>
                                    </th>
                                    <th>
                                        <p>Lastname</p>
                                    </th>
                                    <th>
                                        <p>Email</p>
                                    </th>
                                </tr>
                                @foreach (var item in Model.Result)
                                {
                                    <tr>
                                        <td>
                                            <p>@item.FirstName</p>
                                        </td>
                                        <td>
                                            <p>@item.LastName</p>
                                        </td>
                                        <td>
                                            <p>@item.Email</p>
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "EditModeratorPage", "Admin"
                                                , new {userId = item.Id}) |
                                            @Html.ActionLink("Delete", "DeleteModeratorPage", "Admin"
                                                , new {userId = item.Id})
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3" id="bodyadmin">
                    <div class="card text-center bg-primary text-white mb-3">
                        <div class="card-body">
                            <h3>Add Moderator</h3>
                            <h4 class="display-4">
                                <i class="fas fa-pencil-alt"></i>
                            </h4>
                            <a class="btn btn-success btn-lg" asp-area="Identity" asp-page="/Account/CreateModerator">+</a>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
</body>