@model ReportModel

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="~/js/showPostChange.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/reportPopUp.css">

@{
    ViewData["Title"] = "Show reports";
}
<div id="blur" name="blur"></div>
<table class="table">
    @if (User.IsInRole("Moderator"))
    {
        <tr>
            <td>
                <b>Fields of the idea:</b><br>
                @foreach (var textfield in Model.TextFields)
                {
                    @textfield.Text<br>
                }
                <button type="button" onclick="location.href='@Url.Action("ApproveIdea", "Admin"
                      , new {ideaId = @Model.idea.IdeaId})'; approvePost();">Approve</button>
                <button type="button" onclick="location.href = '@Url.Action("DisapproveIdea", "Admin"
                     , new {ideaId = @Model.idea.IdeaId})'; disaprovePost();">Disapprove</button>
            </td>
        </tr>
        <tr>
            <td>
                <h4>A list of all reports on this idea and it's reactions</h4>
            </td>
        </tr>
        foreach (var report in Model.reports)
        {
            if (report.Reaction == null && report.SendToAdmin == false)
            {
                <tr>
                    <td>
                        <b>Idea is from:</b>
                        @if (Model.idea.IdeaId == report.Idea.IdeaId)
                        {
                            @Model.idea.User.Email
                            <button type="button" onclick="location.href = '@Url.Action("BlockUser", "Admin"
                                  , new {userId = @Model.idea.User.Id})', blockUser();">Block user</button><br>
                        }
                        <b>Reported by:</b> @report.User.Email<br>
                        <button type="button" onclick="location.href = '@Url.Action("ApproveIdea", "Admin"
                                , new {ideaId = @Model.idea.IdeaId})', approvePost()">Approve</button>
                        <button type="button" onclick="location.href = '@Url.Action("DisapproveIdea", "Admin"
                                , new {ideaId = @Model.idea.IdeaId})', disaprovePost();">Disapprove</button>
                        @if (User.IsInRole("Moderator"))
                        {
                            <button type="button" onclick="location.href = '@Url.Action("SendToAdmin", "Admin"
                                , new {reportId = @report.ReportId})', sendToAdmin()">Send to administrator</button><br>
                        }
                    </td>
                    <td>
                        <b>Report message:</b><br>
                        @report.ReportMessage
                    </td>
                    <td>
                        <b>Submit date:</b><br>
                        @report.DateSubmitted
                    </td>
                </tr>
    
            }
            else if (report.Reaction != null && report.SendToAdmin == false)
            {
                <tr>
                    <td>
                        <b>Reaction is from:</b>
                        @foreach (var reaction in Model.reactions)
                        {
                            if (reaction.ReactionId == report.Reaction.ReactionId)
                            {
                                @reaction.User.Email
                                <button type="button" onclick="location.href = '@Url.Action("BlockUser", "Admin"
                                        , new {userId = @reaction.User.Id})', blockUser();">Block user</button><br>
                            }
                        }
                        <b>Reported by:</b> @report.User.Email<br>
                        @if (report.Reaction != null)
                        {
                            foreach (var reaction in Model.reactions)
                            {
                                if (reaction.ReactionId == report.Reaction.ReactionId)
                                {
                                    using (Html.BeginForm("ChangeReaction", "Admin",
                                        new {reactionId = @reaction.ReactionId, ideaId = @Model.idea.IdeaId}, FormMethod.Post))
                                    {
                                        <div class="popup" id="popup-@reaction.ReactionId" name="popup">
                                            <div name="popupContent" id="popupContent">
                                                <div name="inputArea" class="inputArea" id="inputArea-@reaction.ReactionId">
                                                    <p id="titelRep">Change this reaction</p>
                                                    <div id="repTextContainer">
                                                        <textarea id="reportText" name="reportText">@reaction.Content</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="submitReportContainer">
                                                <button class="submitButton" type="submit">Change reaction</button>
                                                <button onclick="closePopup(@reaction.ReactionId)">Close</button>
                                            </div>
                                        </div>
                                    }
                                    <b>Reaction:</b>
                                    @reaction.Content<br>
                                    <button onclick="showPopup(@reaction.ReactionId);">Change reaction</button>
                                    <button type="button" onclick="location.href = '@Url.Action("ApproveReaction", "Admin"
                                              , new {reactionId = @reaction.ReactionId})', approvePost()">Approve</button>
                                    <button type="button" onclick="location.href = '@Url.Action("DisapproveReaction", "Admin"
                                              , new {reactionId = @reaction.ReactionId})', disaprovePost();">Disapprove</button>
                                }
                            }
                        }
                        @if (User.IsInRole("Moderator"))
                        {
                            <button type="button" onclick="location.href = '@Url.Action("SendToAdmin", "Admin"
                                  , new {reportId = @report.ReportId})', sendToAdmin()">Send to administrator</button><br>
                        }
                    </td>
                    <td>
                        <b>Report message:</b><br>
                        @report.ReportMessage
                    </td>
                    <td>
                        <b>Submit date:</b><br>
                        @report.DateSubmitted
                    </td>
                </tr>
            }
        }
        <tr>
            <td>
                <h4>A list of all the reactions on this idea without a report</h4>
            </td>
        </tr>
        foreach (var reaction in Model.reactions)
        {
            var reportReactions = 0;
            foreach (var report in Model.reports)
            {
                if (report.Reaction == reaction)
                {
                    reportReactions++;
                }
            }
            if (reportReactions == 0)
            {
                <tr>
                    <td>
                        <b>Reaction is from:</b>
                        @reaction.User.Email
                        <button type="button" onclick="location.href = '@Url.Action("BlockUser", "Admin"
                                       , new {userId = @reaction.User.Id})', blockUser();">Block user</button><br>
                        <b>Reaction:</b>
                        @reaction.Content<br>
                        <button type="button" onclick="location.href = '@Url.Action("ApproveReaction", "Admin"
                                       , new {reactionId = @reaction.ReactionId})', approvePost()">Approve</button>
                        <button type="button" onclick="location.href = '@Url.Action("DisapproveReaction", "Admin"
                                       , new {reactionId = @reaction.ReactionId})', disaprovePost();">Disapprove</button>
                    </td>
                </tr>
            }
        }
    }
    else if (User.IsInRole("Admin"))
    {
        foreach (var report in Model.reports)
        {
            if (report.Reaction == null && report.SendToAdmin)
            {
                <tr>
                    <td>
                        <b>Idea is from:</b>
                        @if (Model.idea.IdeaId == report.Idea.IdeaId)
                        {
                            @Model.idea.User.Email
                            <button type="button" onclick="location.href = '@Url.Action("BlockUser", "Admin"
                                   , new {userId = @Model.idea.User.Id})', blockUser();">Block user</button><br>
                        }
                        <b>Reported by:</b> @report.User.Email<br>
                        <button type="button" onclick="location.href = '@Url.Action("ApproveIdea", "Admin"
                                    , new {ideaId = @Model.idea.IdeaId})', approvePost()">Approve</button>
                        <button type="button" onclick="location.href = '@Url.Action("DisapproveIdea", "Admin"
                                    , new {ideaId = @Model.idea.IdeaId})', disaprovePost();">Disapprove</button>
                        @if (User.IsInRole("Moderator"))
                        {
                            <button type="button" onclick="location.href = '@Url.Action("SendToAdmin", "Admin"
                                   , new {reportId = @report.ReportId})', sendToAdmin()">Send to administrator</button><br>
                        }
                    </td>
                    <td>
                        <b>Report message:</b><br>
                        @report.ReportMessage
                    </td>
                    <td>
                        <b>Submit date:</b><br>
                        @report.DateSubmitted
                    </td>
                </tr>
    
            }
            else if (report.Reaction != null && report.SendToAdmin)
            {
                <tr>
                    <td>
                        <b>Reaction is from:</b>
                        @foreach (var reaction in Model.reactions)
                        {
                            if (reaction.ReactionId == report.Reaction.ReactionId)
                            {
                                @reaction.User.Email
                                <button type="button" onclick="location.href = '@Url.Action("BlockUser", "Admin"
                                          , new {userId = @reaction.User.Id})', blockUser();">Block user</button><br>
                            }
                        }
                        <b>Reported by:</b> @report.User.Email<br>
                        @if (report.Reaction != null)
                        {
                            foreach (var reaction in Model.reactions)
                            {
                                if (reaction.ReactionId == report.Reaction.ReactionId)
                                {
                                    using (Html.BeginForm("ChangeReaction", "Admin",
                                        new {reactionId = @reaction.ReactionId, ideaId = @Model.idea.IdeaId}, FormMethod.Post))
                                    {
                                        <div class="popup" id="popup-@reaction.ReactionId" name="popup">
                                            <div name="popupContent" id="popupContent">
                                                <div name="inputArea" class="inputArea" id="inputArea-@reaction.ReactionId">
                                                    <p id="titelRep">Change this reaction</p>
                                                    <div id="repTextContainer">
                                                        <textarea id="reportText" name="reportText">@reaction.Content</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="submitReportContainer">
                                                <button class="submitButton" type="submit" onclick="changeReaction();">Change reaction</button>
                                                <button onclick="closePopup(@reaction.ReactionId)">Close</button>
                                            </div>
                                        </div>
                                    }
                                    <b>Reaction:</b>
                                    @reaction.Content<br>
                                    <button onclick="showPopup(@reaction.ReactionId);">Change reaction</button>
                                    <button type="button" onclick="location.href = '@Url.Action("ApproveReaction", "Admin"
                                             , new {reactionId = @reaction.ReactionId})', approvePost()">Approve</button>
                                    <button type="button" onclick="location.href = '@Url.Action("DisapproveReaction", "Admin"
                                             , new {reactionId = @reaction.ReactionId})', disapprovePost()">Disapprove</button>
                                }
                            }
                        }
                    </td>
                    <td>
                        <b>Report message:</b><br>
                        @report.ReportMessage
                    </td>
                    <td>
                        <b>Submit date:</b><br>
                        @report.DateSubmitted
                    </td>
                </tr>
            }
        }
    }
</table>