
@using System.Collections.Immutable
@using System.Xml.Linq
@using D.UI.MVC.Models.Ideas
@using Domain
@using Microsoft.AspNetCore.Http.Internal
@model D.UI.MVC.Models.Ideas.IdeaVM

<body>
<div class="container">
    

@foreach (var item in Model.IdeationQuestion)
{
    <b><u><h1 class="text-center">@item</h1></u></b>
}




<form id="ideaForm" asp-controller="Idea" asp-action="CreateIdea" method="post" enctype="multipart/form-data">
<input asp-for="IdeationId" value="@Model.IdeationId" type="hidden"/>
<input asp-for="IdeaTitle" />
  
@if (@Model.TextFieldVms.Count != 0)
{
    <h3>Upload Text</h3>
    <div id="TextUploads">
        @for (int i = 0; i < @Model.TextFieldVms.Count; i++)
        {

            @Html.EditorFor(x => x.TextFieldVms[i], new {index = i})
        }
    </div>
}
    
@if (@Model.ImageFieldVms.Count != 0){
    <h3>Upload Images</h3>
    <div id="ImageUploads" class="py-3">
        @for (int i = 0; i < @Model.ImageFieldVms.Count; i++)
        {
            @Html.EditorFor(x => x.ImageFieldVms[i] , new { index = i} )    
     
        }
         

    </div>
}

@if (@Model.VideoFieldVms.Count != 0)
{
    <h3>Upload Videos</h3>
    <div id="VideoUploads"class="py-2">
        @for (int i = 0; i < @Model.VideoFieldVms.Count; i++)
        {
            @Html.EditorFor(x => x.VideoFieldVms[i] , new { index = i} )    
     
        }
    </div>   

}
@if (@Model.MapFieldVms.Count != 0)
{
    <h3 class="py-2">Upload Locations</h3>
    <div id="MapUploads">
        @for (int i = 0; i < @Model.MapFieldVms.Count; i++)
        {
            @Html.EditorFor(x => x.MapFieldVms[i] , new { index = i} )    
                
        }
    </div>   

}
    
    
@if (@Model.QuestionFieldVms.Count != 0)
{
    <h2>Upload Questions</h2>
    <div class="row">
        <div class="dark-overlay">
            <div class="container">
                <div class="d-flex" >
                    <div class="card bg-light text-center card-form">
                        <div class="card-body" id="card">
                            <div id="QuestionUploads">
                                @for (int i = 0; i < @Model.QuestionFieldVms.Count; i++)
                                {
                                    @Html.EditorFor(x => x.QuestionFieldVms[i] , new { index = i +1} )    
                    
                                }
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 
        
}
<div class="py-3">
    <input type="submit" class="btn btn-success" value="Submit the idea" onclick="disable()" >   
</div>
</form>

</div>
</body>
<script src="@Url.Content("~/js/createIdea.js")"></script>
