
@using System.Xml.Linq
@using D.UI.MVC.Models.Ideas
@using Domain
@model D.UI.MVC.Models.Ideas.IdeaVM

@foreach (var item in Model.ideationQuestion)
{
    <p>@item</p>
}



<form asp-controller="Idea" asp-action="CreateIdea" method="post" enctype="multipart/form-data">
    <input asp-for="ideationId" value="@Model.ideationId" type="hidden"/>
    
    @for (int i = 0; i < @Model.TextFieldVms.Length; i++)
    {
        @Html.EditorFor(x => x.TextFieldVms[i])

    }
    <div id="ImageUploads">
    @for (int i = 0; i < @Model.ImageFieldVms.Length; i++)
    {
        @Html.EditorFor(x => x.ImageFieldVms[i], new { index = i} )

    }
    </div>
    
    @for (int i = 0; i < @Model.VideoFieldVms.Length; i++)
    {
        @Html.EditorFor(x => x.VideoFieldVms[i])

    }
    @for (int i = 0; i < @Model.MapFieldVms.Length; i++)
    {
        @Html.EditorFor(x => x.MapFieldVms[i])

    }
    @*
    @Html.EditorFor(x => x.imageFieldVM)



    @Html.EditorFor(x => x.textFieldVM)    
    
  
    @Html.EditorFor(x => x.videoFieldVM)
    @Html.EditorFor(x => x.mapFieldVM)
    *@
     

   
  


                                       
    
        
     
   
    <input type="submit" value="save">   
         
    
</form>
