@model D.UI.MVC.Models.Ideas.IdeasVM

<h1>Ideas</h1>
@Html.ActionLink("Create Idea", "CreateIdeaPage", "Idea"
    , new { ideationId=@Model.IdeationId})

<table class="table">
    <tr>
        <th>
            <p>Ideas</p>
        </th>
    </tr>
    @foreach (var idea in Model.ideas)
    {
        <tr>
            <td>
                @idea.user
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink(" LIKE", "LikeIdea", "Idea"
                        , new {ideaId = @idea.ideaId})
                    <span>-</span>
                    @idea.ideaLikes.Count
                }
                else
                {
                    <a href="" data-toggle="tooltip" title="You have to be signed in!">LIKE</a>
                }
                
                <span>Show reactions</span> <span>REPORT</span><br>
                @foreach (var field in Model.fields)
                {
                    if (idea.ideaId == field.idea.ideaId)
                    {
                        @field.text
                        <br>
                    }
                }
            </td>
        </tr>
    }
</table>
