@model UI.MVC.Models.Ideations.IdeationPageVM

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

<a class="previousButton" onclick="previousPage()">&laquo; Previous</a><br>
@if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin") || @Model.AdminOnly ==  false)
{
    @Html.ActionLink("Create Idea", "CreateIdeaPage", "Idea"
        , new { ideationId=@Model.IdeationId })
}

@foreach (var item in @Model.IdeationQuestions)
{
    <h1>@item</h1>
}

<div id="rowPictures"class="row">
@foreach (var item in @Model.IdeaListItemVms)
{

    {
        <div class="column text-center text-black openProjects" data-target="#MyModal" data-toggle="modal" onclick="OpenIdea(@item.IdeaId)">
                                                                                             
            <h4 id="titleindex" class="text-black">
                @item.UserName

                
            </h4>
            <img src="@item.Base64Image" width="365" height="200"/>
           
            <div>
                <p class="text-dark">
                    <i class="far fa-heart"></i> @item.LikeCount
                    <i class="far fa-comments"></i> @item.ReactionCount
                </p>
            </div>
        </div>
    }

}  
</div>
<div class="container">
    <div class="modal" id="MyModal" role="dialog">
        <div id="content" class="modal-dialog modal-lg">
       
        
        </div>
       
    
    </div>
</div> 
<script>
    $(document).ready(function(input) {
    });

    function OpenIdea(input) {
        console.log("test2");
        $("#content").load("/Idea/Idea",{ideaId : input});

    }
    
</script>