@using Domain
@model QuestionnaireQuestion

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="~/js/dynamicForm.js" asp-append-version="true"></script>

@{
    int fieldSetCount = 1;
    int optionSetCount = 1;
}

<a class="previousButton" onclick="previousPage()">&laquo; Previous</a>

@using (Html.BeginForm("EditQuestionnaire", "Questionnaire", FormMethod.Post))
{
    <div class="row justify-content-md-center">
        <div class="card bg-light card-form col-md-4">
            <div class="card-body">
                <h2>Edit this questionnaire</h2>
                <input asp-for="ProjectId" type="hidden">
                <input asp-for="Questionnaire.QuestionnaireId" type="hidden">
                <table class="table">
                    <tr class="form-group">
                        <td>
                            <label>What is the name of your questionnaire?</label>
                            <input class="form-control" asp-for="Questionnaire.Name" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Add questions to your existing questionnaire:</label><br>
                            <button type="button" id="btnAddField" class="btn btn-success">Add Question</button>
                            @Html.AntiForgeryToken()
                            <div id="fields">
                                @foreach (var question in Model.Questions)
                                {
                                    <div id="@("dynamicDiv" + fieldSetCount)">
                                        <label>What do you want to ask?</label>
                                        <br>
                                        <input class="form-control" name="@("question-" + @question.QuestionId)" type="text" value="@question.TheQuestion"/>
                                        <label>What type of a question is this?</label>
                                        <fieldset id="@("dynamicFieldset" + fieldSetCount)">
                                            @if (question.QuestionType == QuestionType.OPEN_QUESTION)
                                            {
                                                <input type="radio" id="@("dynamicTextArea" + fieldSetCount)"
                                                       name="@("dynamicFieldset" + fieldSetCount)" value="textarea" checked/>
                                            }
                                            else
                                            {
                                                <input type="radio" id="@("dynamicTextArea" + fieldSetCount)"
                                                       name="@("dynamicFieldset" + fieldSetCount)" value="textarea"/>
                                            }
                                            <label class="fwn" for="@("dynamicTextArea" + fieldSetCount)">Text area</label>
                                            <br>
                                            @if (question.QuestionType == QuestionType.MAILADDRESS)
                                            {
                                                <input type="radio" id="@("dynamicEmail" + fieldSetCount)"
                                                       name="@("dynamicFieldset" + fieldSetCount)" value="email" checked/>
                                            }
                                            else
                                            {
                                                <input type="radio" id="@("dynamicEmail" + fieldSetCount)"
                                                       name="@("dynamicFieldset" + fieldSetCount)" value="email"/>
                                            }
                                            <label class="fwn" for="@("dynamicEmail" + fieldSetCount)">E-mail field</label>
                                            <br>
                                            @if (question.QuestionType == QuestionType.DROPDOWN)
                                            {
                                                <input type="radio" id="@("dynamicDropDown" + fieldSetCount)"
                                                       name="@("dynamicFieldset" + fieldSetCount)" value="dropdown" checked/>
                                            }
                                            else
                                            {
                                                <input type="radio" id="@("dynamicDropDown" + fieldSetCount)"
                                                       name="@("dynamicFieldset" + fieldSetCount)" value="dropdown"/>
                                            }
                                            <label class="fwn" for="@("dynamicDropDown" + fieldSetCount)">Dropdown menu</label>
                                            <br>
                                            @if (question.QuestionType == QuestionType.RADIO_BUTTON)
                                            {
                                                <input type="radio" id="@("dynamicRadioButton" + fieldSetCount)"
                                                       name="@("dynamicFieldset" + fieldSetCount)" value="radiobutton" checked/>
                                            }
                                            else
                                            {
                                                <input type="radio" id="@("dynamicRadioButton" + fieldSetCount)"
                                                       name="@("dynamicFieldset" + fieldSetCount)" value="radiobutton"/>
                                            }
                                            <label class="fwn" for="@("dynamicRadioButton" + fieldSetCount)">Radio buttons</label>
                                            <br>
                                            @if (question.QuestionType == QuestionType.CHECK_BOX)
                                            {
                                                <input type="radio" id="@("dynamicCheckBox" + fieldSetCount)"
                                                       name="@("dynamicFieldset" + fieldSetCount)" value="checkbox" checked/>
                                            }
                                            else
                                            {
                                                <input type="radio" id="@("dynamicCheckBox" + fieldSetCount)"
                                                       name="@("dynamicFieldset" + fieldSetCount)" value="checkbox"/>
                                            }
                                            <label class="fwn" for="@("dynamicCheckBox" + fieldSetCount)">Check boxes</label>
                                            <br>
                                        </fieldset>
                                        <div id="@("addOptionPlaceholder" + fieldSetCount)">
                                            <button type="button" id="@("btnAddOption" + fieldSetCount)">Add option</button>
                                        </div>
                                        <div id="@("optionPlaceholder" + fieldSetCount)">
                                            @{ var currentOption = optionSetCount; }
                                            @foreach (var option in question.Options)
                                            {
                                                <div id="@("optionField" + currentOption + fieldSetCount)">
                                                    <input type="text" id="@("inputOption" + currentOption + fieldSetCount)"
                                                           name="@("question.options-" + currentOption + "-" + fieldSetCount + "-" + @question.QuestionId)"
                                                           value="@option.TheOption" class="form-control col-md-8"/>
                                                    <button class="col-md-4 btn btn-default" type="button" 
                                                            id="@("btnRemoveOption-" + currentOption + "-" + fieldSetCount)">
                                                        Remove option
                                                    </button>
                                                </div>
                                                <input type="hidden" name="@("currentOption-" + currentOption + "-" + fieldSetCount)"
                                                       value="@("currentOption-" + currentOption + "-" + fieldSetCount)"/>
                                                currentOption++;
                                            }
                                            <input type="hidden" name="options" id="@("options-" + @fieldSetCount)" value="@currentOption"/>
                                        </div>
                                        <button class="btn btn-default col-md-12" type="button" id="@("btnRemoveField" + fieldSetCount)">
                                            Remove question
                                        </button>
                                    </div>
                                    {
                                        fieldSetCount++;
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                </table>
                <input type="hidden" name="fieldSetCount" id="fieldSetCount" value="@fieldSetCount"/>
                <h6>Keep in mind that if you edit this questionnaire, all the collected data will be lost because it would not be relevant to the newly edited version!</h6>
                <div class="form-group">
                    <input type="submit" value="Save changes" class="btn btn-default"/>
                </div>
            </div>
        </div>
    </div>
}