@model ProjectAndQuestionnaires
<body>
<div class="container">
<h1 class="text-center">Questionnaires</h1>
@if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
{
    if (Model != null)
    {
        <div class="text-center">
            @Html.ActionLink("Create a new questionnaire", "CreateQuestionnairePage",
                "Questionnaire", new {projectId = Model.Project.ProjectId})
        </div> 
    }
}

<table class="table">
    <tr>
        <th>
            <p>name</p>
        </th>
        <th>
            <p>Amount of questions</p>
        </th>
    </tr>
    @foreach (var item in Model.Questionnaires)
    {    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionAmount)
            </td>
            <td>
                @Html.ActionLink("Complete Questionnaire", "Questionnaire", "Questionnaire"
                    , new { questionnaireId=item.QuestionnaireId })
            </td>
            @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Show results", "ShowResultsPage", "Questionnaire"
                        , new { questionnaireId = item.QuestionnaireId })
                </td>
                if (item.Closed)
                {
                    <td>
                        @Html.ActionLink("Open", "OpenQuestionnaire", "Questionnaire"
                            , new {questionnaireId = item.QuestionnaireId})
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Close", "CloseQuestionnaire", "Questionnaire"
                            , new {questionnaireId = item.QuestionnaireId})
                    </td>
                }
                <td>
                    @Html.ActionLink("Edit", "EditQuestionnairePage", "Questionnaire"
                        , new {questionnaireId = item.QuestionnaireId}) | 
                    @Html.ActionLink("Delete", "DeleteQuestionnairePage", "Questionnaire"
                        , new {questionnaireId = item.QuestionnaireId})
                </td>
            }
        </tr>
        
    }
</table>
</div>
</body>