@using Domain
@model FillInQuestionnaireModel
 <body>

@using (Html.BeginForm("CreateUserQuestion", "Questionnaire",
    FormMethod.Post))
{
    
    
   
    <div class="row center-block">
        
    <div class="dark-overlay">
    <div class="container">

    <div class="col-lg-4">
    <div class="card bg-light text-center card-form">
    <h1>@Model.questionnaire.name</h1>
    <h4>Questionnaire</h4>
    <div class="card-body">
    <table class="table">
        @foreach (var item in Model.questions)
        {
            if (!User.Identity.IsAuthenticated)
            {
                if (item.questionType == QuestionType.MAILADDRESS)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.question) <br>
                            <input name="email" type="text">
                        </td>
                    </tr>
                }
            }
            if (item.questionType == QuestionType.DROPDOWN)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.question) <br>
                        <select id="ddlOptions" name="Answer-@item.id-dropdown">
                            <option value="0">Please select</option>
                            @foreach (var option in item.options)
                            {
                                <option value="@option.option">@option.option</option>
                            }
                        </select>
                    </td>
                </tr>
            }
            if (item.questionType == QuestionType.OPEN_QUESTION)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.question) <br>
                        <textarea name="Answer-@item.id-openquestion" type="text"></textarea>
                    </td>
                </tr>
            }
            if (item.questionType == QuestionType.RADIO_BUTTON)
            {
                <tr>
                    <td>
                        <fieldset id="@item.id">
                            @Html.DisplayFor(modelItem => item.question) <br>
                            @foreach (var option in item.options)
                            {
                                <input type="radio" value="@option.option" name="Answer-@item.id-radiobutton"/>
                                @Html.DisplayFor(modelItem => option.option)<br>
                            }
                        </fieldset>
                    </td>
                </tr>
            }
            if (item.questionType == QuestionType.CHECK_BOX)
            {
                <tr>
                    <td>
                        <fieldset id="@item.id">
                            @Html.DisplayFor(modelItem => item.question) <br>
                            @foreach (var option in item.options)
                            {
                                <input type="checkbox" value="@option.option" name="Answer-@item.id-checkbox"/>
                                @Html.DisplayFor(modelItem => option.option)<br>
                            }
                        </fieldset>
                    </td>
                </tr>
            }
            

        }
    
    </table>
            
    <input type="hidden" name="questionnaireId" value="@Model.questionnaire.id"/>
    <div class="form-group">
        <input type="submit" value="Submit answers" class="btn btn-default btn-success"/>
    </div>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                       </div>

            

    }

</body>