@using Domain
@model QuestionResultModel

<h1>Questionnaire results</h1>
<h3>Questionnaire: @Model.questionnaire.name</h3>
<p>The questionnaire has been answered @Model.answeredQuestionAmount time(s).</p>

<table class="table">
    @if (Model.questions == null)
    {
        <p>Unfortunately there is no data collected for this questionnaire yet.</p>
    }
    else
    {
        for (var i = 0; i < Model.questions.Count(); i++)
        {
            <tr>
                <td>
                    <h4>@Model.questions.ToList()[i].question</h4>
                    @foreach (var o in @Model.questions.ToList()[i].options)
                    {
                        @o.option
                        foreach (var aqa in @Model.optionsAmounts)
                        {
                            if (aqa.optionId == o.id)
                            {
                                if (o.question.questionType == QuestionType.CHECK_BOX)
                                {
                                    <span> (@aqa.count)</span>
                                }
                                else
                                {
                                    double percentage = Convert.ToDouble(aqa.count) / Convert.ToDouble(@Model.answeredQuestionAmount) * 100;
                                    <span> (@aqa.count) @percentage.ToString("0.00")%</span>
                                }
                            }
                        }
                        <br>
                    }
                </td>
            </tr>
        }
    }
</table>